@import '../../../../default.scss';
.progress-bar {
  display: flex;
  align-items: center;
}

.step {
  display: flex;
  align-items: center;
  margin: 10px 30px;
  flex-direction: column;
  position: relative;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #d9d9d9;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  transition: background-color 0.3s;
  position: relative;
  z-index: 1;
}

.label {
  margin: 5px;
  font-weight: bold;
  color: black;
}

.step.active .circle {
  background-color: $red;
  color: white;
}

.step.active .label {
  color: $red;
}

.connector {
  flex-grow: 1;
  height: 3px;
  position: relative;
  z-index: 0;

  .connector-line {
    width: 100%;
    height: 100%;
    background-color: #d9d9d9;
    transition: background-color 0.3s;
  }
}

.step:nth-child(2).active ~ .connector .connector-line {
  background-color: $red;
}

.step:nth-child(3).active ~ .connector .connector-line {
  background-color: $red;
}
