// @import '../../default.scss';

.game-zone {
    width: 25%;
    height: 80%;
    border: 1px solid lightgrey;
    background-color: white;
    position: relative;
    float: left;
    top: 6.1%;
    left: 1%;
    border-radius: 10px;
    padding: 20px;
}