@import '../../default.scss';
.home_container {
  position: absolute;
  top: 20%;
  height: 100%;
  padding-bottom: 10%;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: flex;
  gap: 10%;
}

.home_column {
  width: 90%;
  height: 50%;
  display: flex;
  &.one {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  &.two {
    flex-direction: column;
    gap: 10%;
  }
}
.home_column_one_left {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10%;
}
.work_display {
  height: 100%;
  display: flex;
  flex-wrap: nowrap; /* 防止方塊換行 */
  gap: 1%;
  width: 100%;
  justify-content: space-between; /* 平均分佈方塊和按鈕 */
  position: relative; /* 設置為相對定位 */
}
.work_display-container {
  position: relative;
}
.home_column_one_right {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15%;
}
.title {
  width: 100%;
  &_square {
    background-color: $red;
  }
  &_square_one {
    background-color: $yellow;
  }
}

.button {
  border: 0px;
  border-radius: 20px;
  height: 5vw;
  width: 20vw;
  color: white;
  font-weight: bold;
  font-size: 1.5vw;
  filter: drop-shadow(0px 4px 20px rgba(47, 139, 205, 0.25));
  &.red {
    background-color: $red;

    &:hover {
      background-color: #ff8895;
    }
  }
  &.yellow {
    background-color: $yellow;

    &:hover {
      background-color: #ffe074;
    }
  }
  & > a {
    color: white;
    text-decoration: none;
  }
}

.h2 {
  background-color: white;
  text-align: center;
}

.work_display:hover .arrow_circle {
  opacity: 1;
}

.arrow_circle {
  z-index: 99;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background-color: $blue;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(2px 4px 20px rgba(47, 139, 205, 0.2));
  &.right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 1%; /* 設置按鈕與容器的間距 */
  }
  &.left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 1%; /* 設置按鈕與容器的間距 */
  }
  &:hover {
    background-color: #74bae1;
  }
}
.popular_arrow_circle {
  z-index: 99;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background-color: $blue;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(2px 4px 20px rgba(47, 139, 205, 0.2));
  &:hover {
    background-color: #74bae1;
  }
}

/* 新增以下部分 */
.work_display:hover .arrow_circle {
  opacity: 1;
}

.work_display:hover .popular_arrow_circle {
  opacity: 1;
}

.popular_arrow_circle.left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 1%; /* 設置按鈕與容器的間距 */
}

.popular_arrow_circle.right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 1%; /* 設置按鈕與容器的間距 */
}
