/* 這裡的CSS可以用開發者工具找到貼過來修改 */

.injectionDiv {
  /* 工作區形狀 */
  border-radius: 20px;
}

.blocklyDiv {
  height: 82.5%;
  width: 49.8%;
  position: absolute;
  /* padding-top: 0.5%; */
  border-radius: 20px;
}

.runBtn {
  height: auto;
  width: auto;
  position: absolute;
  right: 1%;
  padding: 1%;
  z-index: 1;
}