@import '../../default.scss';
.image-name {
  font-size: 1vw;
  outline: none; // 移除聚焦時的外框
  margin-top: 5px;
  box-sizing: border-box;
  border-bottom: 0.5px solid white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    box-shadow: 1px;
    border-bottom: 0.5px solid $blue;
  }
}
