@import '../../default.scss';

.WorkSquare {
  width: calc(33.33% - 10px); /* 調整為作品區域的 1/3 */
  height: 100%;
  border-radius: 20px;
  filter: drop-shadow(1px 1px 1px rgba(47, 139, 205, 0.2));
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &:hover {
    filter: drop-shadow(20px 26px 20px rgba(47, 139, 205, 0.2));
  }
}
.work_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* 固定寬度 */
  height: 100%; /* 固定長度 */
}

.work_image {
  width: 100%;
  height: 70%;
  background-color: rgb(185, 185, 185);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

.work_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work_content {
  margin-top: 8px;
  text-align: center;
}
